<!-- *************************** LIBRETA CERTIFICACIONES ************** -->
<section id="product" class="dark-bg">
  <div class="container">

    <%  @courses.each do |c| %>
      <div class="row">
        <div class="col-md-7 col-sm-7  col-lg-7  center-block text-center innercursos">
          <% uppercase = c.name.upcase %>
          <h1 class="responsive-text"><%= uppercase  %></h1>
          <% des = c.description.to_s %>
          <% values = des.split(/\r\n/) %>
          <p class="paragraph-resposive"> <%=values[0] %></p>
              
        </div><!-- /.col -->
      </div><!-- /.row -->
    <%
    end
     %>

     <% if(@flag_show_pagination == false) %>
       <%  puts @number_pages %>
     <% else %>
       <div class="col-md-6 col-md-offset-5 col-sm-6 col-sm-offset-5 col-6 padding-pagination">
         <nav aria-label="Page navigation">
         <ul class="pagination pagination-lg">
           <% @number_pages.times { |a|  %>
             <li><a href="/libreta_int_cer?limit=10&page=<%=a%>"><%= a + 1  %></a></li>
           <% } %>
         </ul>
         </nav>
       </div>
     </div><!-- /.container -->
   <% end %>

   </section>

<!-- ============================================================= SECTION – PRODUCT : END ============================================================= -->
