<!-- *************************** LIBRETA B CERTIFICACIONES ************** --->
<section id="product">
  <div class="container">

    <%  @courses.each do |c| %>
    <div class="row">
      <div class="col-sm-6 inner-right-xs text-right">
        <figure><a href="#modal-product01" data-toggle="modal"><img src="third-party/reen-theme/assets/images/art/product01.jpg" alt=""></a></figure>
      </div><!-- /.col -->

      <div class="col-sm-6 inner-top-xs inner-left-xs">
        <h2><%= c.name  %></h2>
        <% des = c.description.to_s %>
        <% values = des.split(/\r\n/) %>
        <p> <%=values[0] %></p>
      </div><!-- /.col -->

      </div><!-- /.row -->
    <%
    end
     %>

     <% if(@flag_show_pagination == false) %>
       <%  puts @number_pages %>
     <% else %>
       <div class="col-md-offset-5 padding-pagination">
         <nav aria-label="Page navigation">
         <ul class="pagination pagination-lg">
           <% @number_pages.times { |a|  %>
             <li><a href="/libreta_int_cer?limit=10&page=<%=a%>"><%= a + 1  %></a></li>
           <% } %>
         </ul>
         </nav>
       </div>
     </div><!-- /.container -->
   <% end %>

</section>


