<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="image-background-3" class="item tint-bg" style="background-image: url(images/vistas/quienes_somos/quienes_somos.jpg);">
	<div class="container inner">
		<div class="row">
			<div class="col-sm-10">
				<header>
					<h1>Impulsamos el desarrollo del personal de la Marina Mercante</h1>
				</header>
			</div><!-- /.col -->
		</div><!-- ./row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->
<section id="who-we-are" class="dark-bg">
	<div class="container inner-md">
		<div class="row inner-top-xs">

			<div class="col-sm-6 inner-right-xs inner-bottom-xs">
				<h2>Misi&oacute;n</h2>
				<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
			</div><!-- /.col -->

			<div class="col-sm-6 inner-left-xs inner-bottom-xs">
				<h2>Visi&oacute;n</h2>
				<p>Laceaque quiae sitiorem rest non restibusaes es tumquam core posaeremni volor remped modis volor. Doloreiur qui commolu dolor oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo. Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor.</p>
			</div><!-- /.col -->

		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – WHO WE ARE : END =================================================
