<section id="pattern-background-3" class="tint-bg img-bg-softer" style="background-image: url(assets/images/art/pattern-background03.png);">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-9 inner center-block text-center">
							<header>
								<h1>Contáctanos</h1>
								<p>¿Necesitas más información? Déjanos un mensaje.</p>
							</header>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
</section>
<section id="contact-form" class="dark-bg">
				<div class="container innercontact">

					<div class="row">
						<div class="col-sm-12">
							

								<div class="col-sm-6 outer-top-md inner-right-sm">
									<h2>Escríbenos</h2>

									<form id="contactform" class="forms" action="/contact/info" method="post">

										<div class="row">
											<div class="col-sm-6">
												<input type="text" name="name" class="form-control" placeholder="Nombre (Requerido)">
											</div><!-- /.col -->
										</div><!-- /.row -->

										<div class="row">
											<div class="col-sm-6">
												<input type="email" name="email" class="form-control" placeholder="Email (Requerido)">
											</div><!-- /.col -->
										</div><!-- /.row -->

										<div class="row">
											<div class="col-sm-6">
												<input type="text" name="subject" class="form-control" placeholder="Asunto">
											</div><!-- /.col -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-6">
											
											    <label for="sedes">Selecciona una sede:</label>
											    <select class="form-control" name="sedes" id="sedes" required>
											    	<% @sedes.each do |c|%>
												      <option value="<%= c.email %>"><%= c.name %></option>
												      
												    <% end %>
												</select>
										
											 </div>
										</div>

										<div class="row">
											<div class="col-sm-12">
												<textarea name="message" class="form-control" placeholder="Ingresa tu mensaje (Requerido)"></textarea>
											</div><!-- /.col -->
										</div><!-- /.row -->

										<button type="submit" class="btn btn-default btn-submit">Enviar</button>

									</form>

									<div id="response"></div>

								</div><!-- ./col -->

								<div class="col-sm-6 outer-top-md inner-left-sm border-left">

									<h2>Acerca de nosotros</h2>
									<p>Si deseas conocer más acerca de nuestros cursos de capacitación o si buscas alguna sede o contacto mas cercano a ti, no dudes en contactarnos a nuestra oficina central.</p>
									<ul class="contacts">
										<li><i class="icon-location contact"></i> Av. México No. 145 Col. Del Caramen, C.P. 04100, Ciudad de México</li>
										<li><i class="icon-mobile contact"></i> +52 56 50 54 43</li>
										<li><a href="mailto:info@ienpop.com"><i class="icon-mail-1 contact"></i>info@ienpop.com</a></li>
									</ul><!-- /.contacts -->


								</div><!-- /.col -->

						
						</div><!-- /.col -->
					</div><!-- /.row -->

				</div><!-- /.container -->
			</section>
