<link rel="stylesheet" type="text/css" href="<%= url('css/index.css') %>">
<!-- ============================================================= SECTION – HERO ============================================================= -->
<section id="hero" class="dark-bg">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <video autoplay loop class="fullscreen-bg__video embed-responsive-item">
        <source src="http://training.makingdevs.com.s3.amazonaws.com/videos/barcos.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
      </video>
      <div class="caption vertical-center text-center text-head">
        <div>
          <img src="images/IENPOP.png" class="image-size-ship">
        </div>
        <h1 class="fadeInDown-1 light-color letter-size col-sm-12 col-md-12 col-lg-12">Instituto de Educación Náutica y Portuaria Océano Pacífico</h1>
        <p class="fadeInDown-2 hidden-sm hidden-md hidden-xs hidden-xs-down description-size">Instituto autorizado por la Secretaría de Comunicaciones y Transportes (SCT) y por la Dirección General de Marina Mercante (DGMM)</p>
      </div><!-- /.caption -->
     </div>
    </div>
	</div><!-- /.owl-carousel -->
</section>

<section id="who-we-are" class="dark-bg">
  <div class="inner-md ">
    <div class="row inner-top-xs change-margin">

      <div class="col-sm-6 inner-right-xs inner-bottom-xs">
        <h3 class="color-title">¿Qui&eacute;nes somos?</h3>
        <p class="justify-paragraph">Somos un Instituto que brinda servicios de educación de vanguardia en el ramo marítimo y portuario, acorde con las necesidades y expectativas actuales de la Marina Mercante Mexicana, cuya actividad se enfoca al desarrollo de programas de estudio, impartición y certificación de cursos de formación, capacitación y adiestramiento para los diferentes niveles profesionales, técnicos y prácticos que conforman la Marina Mercante Nacional.</p>

      </div><!-- /.col -->

      <div class="col-sm-6 inner-left-xs inner-bottom-xs">
        <h3 class="color-title">Contáctanos</h3>
        <address>
            <i class="icon-location contact justify-paragraph"></i> Av. México No. 145 Col. Del Carmen Coyoacan C.P. 04100, México DF
            <br/>
            <i class="icon-mobile contact"></i>01 (55) 56593288
            <br/>
            <i class="icon-phone contact"></i>01 (55) 56592869
        </address>
        
        <div class="row">
          <div class="col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-4 col-8 col-offset-4">
             <a class="button-margin-footer-centre btn btn-large btn-info " href="/contact">Envíanos un mensaje</a>
          </div>
        </div>
           
      </div><!-- /.row -->
  </div><!-- /.container -->

</section>



