
<!-- ============================================================= SECTION – HERO ============================================================= -->
<section id="hero" class="dark-bg">
  <div class="row">
    <div class="col-sm-12 col-md-12">
	     <div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">

         <div class="item" style="background-image: url(https://drscdn.500px.org/photo/173577721/q%3D80_m%3D2000_k%3D1/v2?webp=true&sig=ac4cfdfa92aa8db5659c665280ec0194bae056f1531f605801f2b44f8c1b3e0f);">
            <div class="caption vertical-center text-center">
              <img class="center-block" src="third-party/reen-theme/assets/images/IENPOP_blanco.svg" alt="HTML5 Icon" style="width:350px;height:319px;">

              <h1 class="fadeInDown-1 light-color">Instituto de Educación Náutica y Portuaria Océano Pacífico</h1>

              <p class="fadeInDown-2">Instituto autorizado por la Secretaría de Comunicaciones y Transportes (SCT) y por la Dirección General de Marina Mercante (DGMM)</p>
            </div><!-- /.caption -->
      
        </div><!-- /.item -->
      </div>
    </div>
	</div><!-- /.owl-carousel -->
</section>

<section id="who-we-are" class="dark-bg">
  <div class="container inner-md">
    <div class="row inner-top-xs">

      <div class="col-sm-6 inner-right-xs inner-bottom-xs">
        <h3>¿Quienes somos?</h3>
        <p>Somos un Instituto que brinda servicios de educación de vanguardia en el ramo marítimo y portuario, acorde con las necesidades y expectativas actuales de la Marina Mercante Mexicana, cuya actividad se enfoca al desarrollo de programas de estudio, impartición y certificación de cursos de formación, capacitación y adiestramiento para los diferentes niveles profesionales, técnicos y prácticos que conforman la Marina Mercante Nacional.</p>

      </div><!-- /.col -->

      <div class="col-sm-6 inner-left-xs inner-bottom-xs">
        <h3>Contáctanos</h3>
        <ul class="contacts">
          <li><i class="icon-location contact"></i> Av. México No. 145 Col. Del Carmen Coyoacan C.P. 04100, México DF</li>
          <li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
          <li><a href="#"><i class="icon-mail-1 contact"></i> info@ienpop.com</a></li>
        </ul><!-- /.contacts -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section>



