

<!-- ============================================================= SECTION – HERO ============================================================= -->
<section id="hero">
	<div id="owl-main" class="owl-carousel height-md owl-inner-nav owl-ui-lg">

	<div class="item" style="background-image: url(https://drscdn.500px.org/photo/173577721/q%3D80_m%3D2000_k%3D1/v2?webp=true&sig=ac4cfdfa92aa8db5659c665280ec0194bae056f1531f605801f2b44f8c1b3e0f);">
		<div class="container">
			<div class="caption vertical-center text-center">
				<h1 class="fadeInDown-1 light-color">IENPOP</h1>
				<p class="fadeInDown-2">Instituto autorizado por la Secretaría de Comunicaciones y Transportes (SCT) y por la Dirección General de Marina Mercante (DGMM)</p>
			</div><!-- /.caption -->
		</div><!-- /.container -->
	</div><!-- /.item -->

	</div><!-- /.owl-carousel -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->
<div>
	<div>
		<h1>Hola mundo</h1>
		<h3><%= @message %></h3>
		<a href="/Otra"> <h1>Otro Vinculo</h1></a>
		<form action="/Otra/contact/nahum" method="post">
		  <label>Nombre:</label>
		  <input type="text" name="name">
		</form>	
	</div>
</div>
		

