<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h2><%= @saludo %></h2>
    <h2><%= @nombres %></h2>
  <ul>
    <li>hola</li>
    <li>hola</li>
    <li>hola</li>
    <li>hola</li>
    <li>hola</li>
  </ul>
</body>
</html>
