<section id="contact-form" class="dark-bg" >
    <div class="container inner">
      <div class="row">

        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>Nuestras sedes</h1>
            <p>Conoce todas las sedes que se encuentran dentro de la república mexicana</p>
          </header>
        </div><!-- /.col -->
      </div><!-- /.row -->

        
      <div class="row inner-top-md">
        <div class="col-sm-12">
          <div id="accordion" class="panel-group">
            <div class="panel panel-default">

              <div class="panel-heading text-center">
                <h4 class="panel-title">
                  <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#content">
                    <span>Sedes</span>
                  </a>
                </h4>
              </div><!-- /.panel-heading -->

              <div id="content" class="panel-collapse collapse">
                <div class="panel-body">

                  <section id="contact-form" class="dark-bg" >
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="row">
                            <div class="col-sm-6 outer-top-md inner-right-sm">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d941.0797420501336!2d-99.1686222!3d19.3553367!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ffea0e750b53%3A0x88a618c286155510!2sAv+M%C3%A9xico+145%2C+Del+Carmen%2C+04100+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses!2smx!4v1503517476911" width="550" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div><!-- ./col -->
                            <div class="col-sm-6 outer-top-md inner-left-sm border-left">
                              <h2 class="text-center">OFICINA CENTRAL CDMX </h2>
                              <h3>Contacto</h3>
                              <ul class="contacts">
                                <li><i class="icon-location contact"></i> Cristina Reyes Zúñiga </li>
                                <li><i class="icon-mobile contact"></i> Representante de la Dirección</li>
                              </ul><!-- /.contacts -->

                              <h3>DIRECCIÓN</h3>
                               <ul class="contacts">
                                <li><i class="icon-location contact"></i> Av. México No. 145 Col. Del Caramen, C.P. 04100, Ciudad de México</li>
                                <li><i class="icon-mobile contact"></i> +52 56 50 54 43</li>
                                <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> info@ienpop.com</a></li>
                              </ul><!-- /.contacts -->
                            </div><!-- /.col -->
                          </div><!-- /.row -->
                        </div><!-- /.col -->
                      </div><!-- /.row -->
                    </div><!-- /.container -->
                  </section>

                </div><!-- /.panel-body -->
              </div><!-- /.content -->

            </div><!-- /.panel -->
          </div><!-- /.accordion -->
        </div><!-- /.col -->
      </div><!-- /.row -->


      <div class="row inner-top-md">
        <div class="col-sm-12">
          <div id="managers-section" class="panel-group">
            <div class="panel panel-default">

              <div class="panel-heading text-center">
                <h4 class="panel-title">
                  <a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#managers-section" href="#manager_content">
                    <span>Encargados</span>
                  </a>
                </h4>
              </div><!-- /.panel-heading -->

              <div id="manager_content" class="panel-collapse collapse">
                <div class="panel-body">

                  <section id="contact-form" class="dark-bg" >
                   
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="row">
                            <div class="col-sm-6 outer-top-md inner-right-sm">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d941.0797420501336!2d-99.1686222!3d19.3553367!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ffea0e750b53%3A0x88a618c286155510!2sAv+M%C3%A9xico+145%2C+Del+Carmen%2C+04100+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses!2smx!4v1503517476911" width="550" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div><!-- ./col -->
                            <div class="col-sm-6 outer-top-md inner-left-sm border-left">
                              <h2 class="text-center">OFICINA CENTRAL CDMX </h2>
                              <h3>Contacto</h3>
                              <ul class="contacts">
                                <li><i class="icon-location contact"></i> Cristina Reyes Zúñiga </li>
                                <li><i class="icon-mobile contact"></i> Representante de la Dirección</li>
                              </ul><!-- /.contacts -->

                              <h3>DIRECCIÓN</h3>
                               <ul class="contacts">
                                <li><i class="icon-location contact"></i> Av. México No. 145 Col. Del Caramen, C.P. 04100, Ciudad de México</li>
                                <li><i class="icon-mobile contact"></i> +52 56 50 54 43</li>
                                <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> info@ienpop.com</a></li>
                              </ul><!-- /.contacts -->
                            </div><!-- /.col -->
                          </div><!-- /.row -->
                        </div><!-- /.col -->
                      </div><!-- /.row -->
                   
                  </section>

                </div><!-- /.panel-body -->
              </div><!-- /.content -->

            </div><!-- /.panel -->
          </div><!-- /.accordion -->
        </div><!-- /.col -->
      </div><!-- /.row -->

      
        

 



    
			<!-- ============================================================= SECTION – CONTACT FORM CIUDAD DE MÉXICO============================================================= -->

<section id="contact-form" class="dark-bg" >
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 outer-top-md inner-right-sm">

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d941.0797420501336!2d-99.1686222!3d19.3553367!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ffea0e750b53%3A0x88a618c286155510!2sAv+M%C3%A9xico+145%2C+Del+Carmen%2C+04100+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses!2smx!4v1503517476911" width="550" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div><!-- ./col -->

            <div class="col-sm-6 outer-top-md inner-left-sm border-left">
              <h2 class="text-center">OFICINA CENTRAL CDMX </h2>
              <h2>Contacto</h2><ul class="contacts">
                <li><i class="icon-location contact"></i> Cristina Reyes Zúñiga </li>
                <li><i class="icon-mobile contact"></i> Representante de la Dirección</li>
              </ul><!-- /.contacts -->

              <h3>DIRECCIÓN</h3>
              <ul class="contacts">
                <li><i class="icon-location contact"></i> Av. México No. 145 Col. Del Caramen, C.P. 04100, Ciudad de México</li>
                <li><i class="icon-mobile contact"></i> +52 56 50 54 43</li>
                <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> info@ienpop.com</a></li>
              </ul><!-- /.contacts -->

            </div><!-- /.col -->

          </div><!-- /.row -->
        </div><!-- /.col -->
      </div><!-- /.row -->

    </div><!-- /.container -->
    </section>

			<!-- ============================================================= SECTION – CONTACT FORMCIUDAD DE MÉXICO: END =============================================================
		-->

			<!-- ============================================================= SECTION – CONTACT FORM BAJA CALIFORNIA============================================================= -->

<section id="contact-form" class="dark-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 outer-top-md inner-left-sm border-right">
              <h2 class="text-center">OFICINA BAJA CALIFORNIA </h2>
              <h2>Contacto</h2><ul class="contacts">
                <li><i class="icon-location contact"></i> Cristina Reyes Zúñiga </li>
                <li><i class="icon-mobile contact"></i> Representante de la Dirección</li>
                </ul><!-- /.contacts -->

                <h3>DIRECCIÓN</h3>
                <ul class="contacts">
                  <li><i class="icon-location contact"></i> Av. Pedro Loyola No. 547 Loma Dorado, C.P. 22847, </li>
                  <li>Baja California</li>


                  <li><i class="icon-mobile contact"></i> +52 56 50 54 43</li>
                  <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> info@ienpop.com</a></li>
                </ul><!-- /.contacts -->

              </div><!-- /.col -->
              <div class="col-sm-6 outer-top-md inner-right-sm">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3389.467669504522!2d-116.60918068474656!3d31.83948683850022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d88df891f85a6f%3A0x94487cf4da9a478d!2sAv+Dr+Pedro+Loyola+547%2C+Acapulco%2C+22890+Ensenada%2C+B.C.!5e0!3m2!1ses-419!2smx!4v1503622346473" width="550" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>

              </div><!-- ./col -->
            </div><!-- /.row -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container -->
      </section>

      <!-- ============================================================= SECTION – CONTACT FORM. BAJA CALIFORNIA: END ============================================================= -->

      <!-- ============================================================= SECTION – CONTACT FORM ACAPULCO============================================================= -->

<section id="contact-form" class="dark-bg">
  <div class="container">
    <div class="col-sm-6 outer-top-md inner-right-sm">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d659.2001691235184!2d-99.86950656320136!3d16.857835221540057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ca5828ae7d4175%3A0xd2807421fc0ae3b!2sAv+Costera+Miguel+Alem%C3%A1n+211%2C+Farallon%2C+Acapulco%2C+Gro.!5e0!3m2!1ses-419!2smx!4v1503624227087" width="550" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div><!-- ./col -->

    <div class="col-sm-6 outer-top-md inner-left-sm border-left">

      <h2 class="text-center">OFICINA ACAPULCO </h2>
      <h2>Contacto</h2><ul class="contacts">
        <li><i class="icon-location contact"></i> Cristina Reyes Zúñiga </li>
        <li><i class="icon-mobile contact"></i> Representante de la Dirección</li>
          </ul><!-- /.contacts -->

          <h3>DIRECCIÓN</h3>
          <ul class="contacts">
            <li><i class="icon-location contact"></i> Av. Costera Miguel Alemán Valdez No. 211 Centro Malecón C.P. 39300 Acapulco, Guerrero </li>
            <li><i class="icon-mobile contact"></i> +52 56 50 54 43</li>
            <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> info@ienpop.com</a></li>
          </ul><!-- /.contacts -->

        </div><!-- /.col -->

      </div><!-- /.row -->
    </div><!-- /.col -->
  </div><!-- /.row -->

</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – CONTACT FORM ACAPULCO: END =============================================================
-->

<!-- ============================================================= SECTION – CONTACT FORM MAZATLAN============================================================= -->

<section id="contact-form" class="dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">

          <div class="col-sm-6 outer-top-md inner-left-sm border-right">

            <h2 class="text-center">OFICINA MAZATLÁN </h2>
            <h2>Contacto</h2><ul class="contacts">
            <li><i class="icon-location contact"></i> Cristina Reyes Zúñiga </li>
            <li><i class="icon-mobile contact"></i> Representante de la Dirección</li>
          </ul><!-- /.contacts -->

          <h3>DIRECCIÓN</h3>
          <ul class="contacts">
            <li><i class="icon-location contact"></i>Prolongación Aquiles Serdán 312 Fraccionamiento Playa Sur, C.P. 82040 Mazatlán, Sinaloa </li>
            <li><i class="icon-mobile contact"></i> +52 56 50 54 43</li>
            <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> info@ienpop.com</a></li>
          </ul><!-- /.contacts -->

        </div><!-- /.col -->

        <div class="col-sm-6 outer-top-md inner-right-sm">

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.3582765488304!2d-106.42139048489007!3d23.193610315733775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869f53ea58050865%3A0x6912b5f58ef5ba34!2sAquiles+Serd%C3%A1n+312%2C+Playas+del+Sur%2C+82040+Mazatl%C3%A1n%2C+Sin.!5e0!3m2!1ses-419!2smx!4v1503624319073" width="550" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div><!-- ./col -->



      </div><!-- /.row -->
    </div><!-- /.col -->
  </div><!-- /.row -->

</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – CONTACT FORM. MAZATLAN: END =============================================================
-->




