.fullscreen-bg__video {
  width: 100%;
  height: 100%;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
.text-head{
  position: absolute;
  bottom: 10%
}


.image-size-ship{
  height: 22%;
  width: 22%;
}

@media (max-height: 900px) and (min-width: 768px) {
	.nav-padding{
		padding: 1% 2% 1% 30%;
	}

}
@media (min-width: 768px) and (max-height: 768px) {
	.nav-padding{
		padding: 1% 2% 1% 20%;
	}

}
@media (min-width: 768px) and (max-height: 1024px) {
 	.nav-padding{
		padding: 1% 2% 1% 15%;
	}


}
@media (max-width: 767px) {
	.nav-padding{
		padding: 1% 2% 1% 3%;
	}
	.letter-size{
		font-size: 20px !important;
	}

	.iframe-responsive{
		width: 100%;
		height: 250px;
	}
	.responsive-text{
		font-size: 30px !important;
	}
	.paragraph-resposive{
		color: #bbc2ca !important;
		font-size: 19px;
	}
	.navbar-collapse.collapse {
		background-color: #fff !important;
	}
	
	.navbar-collapse.collapse.in {
		background-color: #fff !important;
	}
	
}

@media (min-width: 768px) {
	.letter-size{
		font-size: 30px !important;
	}
	.iframe-responsive{
		/*width: 300px;*/
		width: 100%;
		height: 440px;
	}
	.navbar-collapse.collapse {
		background-color: #fff !important;
	}
	
	.navbar-collapse.collapse.in {
		background-color: #fff !important;
	}

}

@media (min-width: 992px) {
	.letter-size{
		font-size: 50px !important;
	}
	.description-size{
		font-size: 15px !important;
	}
	.iframe-responsive{
		/*width: 420px;*/
		width: 106%;
		height: 390px;
	}
}
@media (min-width: 1200px) {
	.letter-size{
		font-size: 61px !important;
	}
	.description-size{
		font-size: 30px !important;
	}

	.iframe-responsive{
		/*width: 530px;*/
		width: 106%;
		height: 390px;
	}

}

.justify-paragraph{
	text-align: justify;
}
.color-title{
	color:  #99ccff !important;

}
.nav-padding > ul > li > a:hover{
	color: #006bb3;
}

.change-margin{
	margin-left: 10% !important;
	margin-right: 10% !important;
}
.image-size{
	background-repeat: no-repeat;
	background-size: cover;
}

.fontwell{
    min-height: 380px;
    padding: 30px;
    margin-bottom: 30px;
    background-color: #304152;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.nav > li > a:hover {
    background-color: #F5F7FA;
    border-color: #E6E9ED;
    color: #28b4ce;
}

.dark-bg select{
	color: #0c0e0e;
	font-size: 16px;
}

.dark-bg input, .dark-bg textarea {
	color: #0c0e0e;
	font-size: 16px;
}
::-webkit-input-placeholder { /* Chrome */
  color: #44474a !important;
  font-size: 15px !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #44474a !important;
  font-size: 15px !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #44474a !important;
  opacity: 1;
  font-size: 15px !important;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color:  #44474a !important;
  opacity: 1;
  font-size: 15px !important:;
}

.button-margin-footer {
    margin-left: 5%;
    margin-bottom: 5%;
    white-space: normal !important;
    word-wrap: break-word;
}
.button-margin-footer-centre {
    margin-left: 30%;
    margin-bottom: 30%;
    white-space: normal !important;
    word-wrap: break-word;
}

.button-margin{
	margin-left: 1% !important;
}
.margin-btn{
	margin-top: 5% !important;
}

.responsive-bottom:hover{
	background-color: #28b4ce;
}


